body {
    background-image: url("../../_ui/images/corona-background.jpg");
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (max-width: $sm-screen) {
        background-size: cover;
    }
}